<h1>Visualized</h1>

<div style="text-align: center">
    <a href="/">Shows</a>
    <a href="/add">Add a Show</a>
</div>

<h2>Search</h2>

{{#if err}}
<h3>Error: Please try again!</h3>
{{/if}}

<div style="text-align:center">
    <form method="GET" action="/">
        <select name="title">
            <option value="title">Title</option>
        </select>

        <b>Title: </b><input type="text" name="value" value="">
        <input type="submit" value="Search">
    </form>
</div>

<table style="width:100%">
    <tr>
        <th>Title</th>
    </tr>
    {{#each show}}
    <tr>
        <td><a href="/search/{{slug}}">{{title}}</a></td>
    </tr>
    {{/each}}
</table>